.form {
    margin-top: 20px;
    width: 100%;

    label {
        display: block;
        margin-bottom: 8px;
    }

    .wr-inputs {
        display: flex;

        div:first-child {
            margin-right: 2rem;
        }
    }

    input {
        width: 100%;
        margin-bottom: 16px;
        padding: 10px 20px 10px 15px;
        border: none;
        font-size: 1.1em;
        background-color: #D9D9D9;

        &:focus-visible {
            outline-color:black ;
        }
    }

    button {
        margin-top: 20px;
    }
}