.form {
    margin-top: 20px;
    width: 100%;

    label {
        display: block;
        margin-bottom: 8px;
    }

    .wr-inputs {
        display: flex;
        flex-wrap: wrap;

        @media only screen and (max-width: 550px) {
            div,input,select {
                width: 100%;
            }
        }

        div {
            min-width: 230px;
            margin-right: 2rem;
        }
    }

    input {
        width: 100%;
    }

    button {
        margin-top: 20px;
        margin-right: 1rem;
    }
}