.select {
    padding: 10px 20px 10px 15px;
    border: none;
    font-size: 1.1em;

    &:not(:last-child){
        border-radius: 3px;
        margin: 15px;
    }
}

.wr-diagram {
    background-color: #7cd38e;
}