// Huisjes.scss
.huisjes-container {
    hr{
      border: none;
      background-color: black;
      height: 3px;
      border-radius: 3px;
      margin: 3rem 0;
    }
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .huisjes-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 16px;
      max-height: max(80vh,400px);
      overflow-y: auto;
    }
  
    .huisje-item {
      border: 1px solid #ccc;
      padding: 10px 0 ;
      display: flex;
      flex-direction: column;
      text-align: center;
  
      button {
        margin-top: 8px;
      }
    }
  
    .huisje-form {
      margin-top: 20px;
      width: 100%;
  
      label {
        display: block;
        margin-bottom: 8px;
      }
  
      input {
        width: 100%;
        margin-bottom: 16px;
        padding: 8px;
      }
  
      button {
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }