.logsTable {
    max-width: 100%;
    background-color: #54a364;
    border-radius: 5px;
    border: solid black 1px;

    th {
        font-size: 1.3rem;
    }

    th,
    td {
        border: solid black 1px;
    }

    td {
        padding: 3px;
    }

    &.MBD {
        td {
            width: 25%;
        }
    }

    &.AUTH0 {
        td {
            width: calc(100% / 7);
            word-break: break-all;
        }
    }
}