.menubar {
    background-color: #1C5628;
    color: white;
    box-shadow: 0 15px 15px 0 rgba(0,0,0, 0.25);
}

.menu {
    display: flex;
    list-style-type: none;
    padding-left: 0;

    li {
        margin-top: auto;
        margin-bottom: auto;
        padding: 0 5px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            margin-left: auto;
            padding: 0;

            > img {
                display: block;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }

    .logo {
        margin-right: 15px;
        height: 50px;
    }
}