// Include sass module
@use 'sass:math';
@use 'grid-variables' as *;

// Make all the columns with the breakpoints
@each $grid-breakpoint-name, $grid-breakpoint in $grid-breakpoints {

    $grid-column-counter: $grid-columns;
    $grid-column-width: math.div(100,$grid-columns); 

    @media only screen and (min-width: $grid-breakpoint){

        // Create the containers max-width
        .container{
            max-width: 0.98 * $grid-breakpoint;
        }

        // Create columns
        @while $grid-column-counter > 0 {

            .col-#{$grid-breakpoint-name}-#{$grid-column-counter} {
                flex: 0 0 auto;
                width: $grid-column-width * $grid-column-counter * 1%;
            } 

            // Create offset columns
            .offset-#{$grid-breakpoint-name}-#{$grid-column-counter} {
                margin-left: $grid-column-width * $grid-column-counter * 1%;
            }

            $grid-column-counter: $grid-column-counter - 1;
        }
    }
}